.error{
    border: 3px solid red;
}
.formik{
    display: flex;
    flex-direction: column;
    margin-top: .5rem;
    width: 100%;
}

.formik input{
    height: 2.3rem;
    margin-top: .8rem;
}

.formik button{
    margin-top: .8rem;
    outline: none;
    border: none;
    font-size: 1.3rem;
    font-weight: bold; 
    background-color: #fbff00 ;
    width: 50%;
}
.formik button:hover{
    background-color: #fbff00c7;
    font-weight: normal;
    cursor: pointer;
}
.formik h4{
    color: #ff0000
}