.Gif-container{
    position: relative;
}
.Gif{
    display: inline-block;
    position: relative;
    text-align: center;
}

.Gif__title{
    font-size: .7rem;
    color: var(--theme-letter-wh);
    position: absolute;
    text-align: center;
    bottom: 4px;
    background-color: #00000042;
    width: 100%;
}
.Gif img{
    height: 10rem;
    width: 10rem;
    object-fit: cover;
}
.btn{
    position: absolute;
    top: 0;
    right: 5px;
}
.Detail img {
    height: 25rem;
    width: 25rem; 
}
.Detail .Gif__title{
    font-size: 1.5rem;
}