.Gif-container{
    position: relative;
    margin-top: 2rem;
}
.Gif{
    display: contents;
    position: relative;
    text-align: center;
}
.Gif__title{
    font-size: .7rem;
    color: var(--theme-letter-wh);
    position: absolute;
    text-align: center;
    bottom: 4px;
    background-color: #00000042;
    width: 100%;
}
.Gif img{
    height: 10rem;
}
.btn{
    position: absolute;
    top: 0;
    right: 5px;
}