h1{
    color: #ececec;
}
.Gifs__container{
    margin-top: 1.5rem;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    place-items: center;
    align-items: start;
    gap: 5px 10px;
    min-height: 100vh;
}
.Meme__container{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100vh;
}
