h1{
    color: #ececec;
}
.Gifs__container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    place-items: center;
    gap: 0 10px;
    min-height: 100vh;
}
.Gif{
    background-color: #fff;
    width: 150px;
}

.Gif img{
 object-fit: cover;
 width: 150px;

}
.meme__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}