@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@700&display=swap');

*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}
#root{
    text-align: center;
    background-color: var(--theme-body-bg);
}

:root{
    --theme-header: #1f2029;
    --theme-body-bg: #2a2b38;
    --theme-title-head: #ffeba7;
    --theme-letter-bk: #000000;
    --theme-letter-wh: #e1e3db;
    --brand-color_1: #00ff99;
    --brand-color_2: #00ccff;
    --brand-color_3: #9933ff;
    --brand-color_4: tomato;
    --brand-color_5: #fff35c;
    --brand-color_6: #8429de;
  }
.title{
    font-family: 'Cabin', sans-serif;
    font-size: 3rem;
    text-align: center;
    color: var(--theme-title-head);
    margin: 1rem;
    font-weight: bold;
    cursor: pointer;
}

.App{
    padding: 0 10px;
    margin-top: 20px;
    display: flex;
    width: 100%;
}
.container__gifs{
    padding-left: 5px;
    width: 100%;
}
.Tranding{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 20vw;
}
.Tranding__title{
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 10px;
}
.categoriList__container{
    display: flex;
    width: 70%;
    justify-content: center;
  }   
  
@media only screen and (max-width: 600px) {
    .App {
        flex-direction: column;
    }
    .Tranding{
        width: 100%;
    }
    .categoriList__container{
        width: 100%;
    }
    
}