.modal{
    background-color: rgba(255, 255, 255, .8);
    backdrop-filter: blur(3px);
    position: fixed;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.modal-content{
    border-radius: 6px;
    display: table;
    background-color: var(--theme-header);
    padding: 10px 20px;
    margin-top: 10vh ;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 3rem;
    position: relative;

}

.modal__btn{
    padding: 0;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
    font-size: 1.2rem;
    color: #d70000;
    background-color: var(--theme-body-bg);
    outline: none;
    border: none;
    width: 30px;
    height: 30px;
}
.modal__btn:hover{
    background: #191920 ;
    color: #d700009a ;
}